---
import Layout from "@layouts/Layout.astro";
import PersonCard from "@components/Director/PersonCard.astro";
import icon_yunoda from "@assets/icon_yunoda.png";
import icon_tokisaba from "@assets/icon_tokisaba.png";
import icon_tokutani from "@assets/icon_tokutani.jpg";
const directors = [
    {
        name: "yunoda",
        sns: "https://x.com/yunoda_hunting",
        icon: icon_yunoda,
        role: "代表理事",
        description: `
            第一期代表理事を務めるyunodaです。
            狩猟を始めてみると、さまざまな問題に悩まされていることを実感し、この協会を立ち上げました。
            狩猟界隈はドキュメント文化が非常に薄く、さまざまな情報にアクセスすることが困難です。
            これをまず第一の改善点として、微力ではありますが、協会一同挑戦してまいります。
        `,
    },
    {
        name: "北村直樹",
        sns: "https://x.com/tokisaba",
        icon: icon_tokisaba,
        role: "理事",
        description: `
            HNはtokisaba。ITエンジニア。
            東京を中心にITエンジニアのためのシェアハウスを運営している。地方創生と生活の多様性を一つのテーマにしている。
            狩猟と地方の空き家はいい組み合わせになりそうで、モンスターハンターの村のような狩猟特化集落とか作ってみたい。猟師としてはペーペーなので、まずは業界のことをあれこれ知りたい。
        `,
    },
    {
        name: "tokutani",
        sns: "https://x.com/bucca_boo",
        icon: icon_tokutani,
        role: "理事",
        description: `
        北海道夕張市在住、趣味は釣り。
        現在罠免許に挑戦しています。
        北海道は鹿や熊の被害が多いので、なんとか駆除及び有効活用できないかと考えています。
        北海道に狩猟に来られる際はよろしくお願いします。
        `,
    },
];
---

<Layout title="日本狩猟協会について">
    <section class="xl:mx-40 lg:mx-20 md:mx-10 mx-5 my-20">
        <h1
            class="flex justify-center items-center align-middle text-center font-bold text-4xl my-10"
        >
            構成理事
        </h1>
        <div class="flex flex-col gap-8">
            {
                directors.map((director) => (
                    <PersonCard
                        name={director.name}
                        sns={director.sns}
                        icon={director.icon}
                        role={director.role}
                        description={director.description}
                    />
                ))
            }
        </div>
    </section>
</Layout>
