---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const pages = await getCollection("house", ({ id }) => {
        return id.startsWith("ja/");
    });

    const paths = pages.map((page) => {
        const [lang, ...slug] = page.slug.split("/");
        return {
            params: { lang, slug: slug.join("/") || undefined },
            props: page,
        };
    });

    return paths;
}

const post: any = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.name} imageUrl={post.data.cover}>
    <div class="flex flex-col gap-4 xl:mx-40 lg:mx-20 md:mx-10 sm:mx-5 mx-5">
        <h1 class="text-center font-bold xl:text-5xl mt-20">{post.data.name}</h1>
        <div class="flex justify-end xl:m-12">
            <div>最終更新日</div>
            <time datetime={post.data.pubDate?.toISOString()}>
                {new Intl.DateTimeFormat("ja-JP").format(post.data.pubDate)}
            </time>
        </div>

        <div class="base-info">
            <h2 class="xl:text-2xl font-semibold mr-4">使用料</h2>
            <div class="text-lg">{post.data.price}</div>
        </div>

        <div class="shadow-md rounded-lg p-6">
            <h2 class="xl:text-2xl font-semibold mr-4">施設概要</h2>
            <p class="text-lg m-4">
                <Content />
            </p>
        </div>

        <div class="base-info">
            <h2 class="xl:text-2xl font-semibold mr-4">設備</h2>
            <div class="grid xl:grid-cols-4 gap-2">
                {
                    post.data.equipments &&
                        post.data.equipments.map((equipment: any) => (
                            <div class="badge badge-outline">{equipment}</div>
                        ))
                }
            </div>
        </div>

        <div class="shadow-md rounded-lg p-6">
            <div class="flex items-center">
                <h2 class="xl:text-2xl font-semibold mr-4">アクセス</h2>
                <p class="text-lg">{post.data.address}</p>
            </div>
            <iframe
                src={post.data.map_embed}
                class="flex-none xl:w-1/2 lg:w-2/3 w-full h-96 rounded-xl my-4"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="base-info">
            <h2 class="xl:text-2xl font-semibold mr-4">賃貸</h2>
            <div class="flex">
                {post.data.forRent}
            </div>
        </div>

        <div class="base-info">
            <h2 class="xl:text-2xl font-semibold mr-4">管理人</h2>
            <p class="text-lg">{post.data.owner}</p>
        </div>

        <div class="base-info">
            <h2 class="xl:text-2xl font-semibold mr-4">予約方法</h2>
            <div class="flex">
                {post.data.booking}
            </div>
        </div>

        <div class="base-info">
            <h2 class="xl:text-2xl font-semibold mr-4">連絡先</h2>
            <div class="flex">
                <a
                    href={post.data.contact}
                    class="text-blue-500 underline hover:text-blue-700"
                    target="_blank">{post.data.contact}</a
                >
            </div>
        </div>

        <div class="flex justify-center m-12">
            <a href="/hunter-house" role="button" class="btn xl:w-1/4 sm:w-1/2"
                >ハンターハウス一覧に戻る</a
            >
        </div>
    </div>
</Layout>

<style>
    .base-info {
        @apply flex items-center shadow-md rounded-lg p-6;
    }
</style>
